@import url(../../index.css);

.filters {
  width: 305px;
  height: calc(100% - 5.5rem);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 5.5rem;
  z-index: 55;
  background-color: var(--color-accent);
  border-left: 1px solid var(--color-muted);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: var(--color-accent);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-green);
    border-radius: 4px;

    &:hover {
      background: var(--color-dgreen);
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 23px 2rem;

    .searchBar 
      .input {
      width: calc(100% - 5rem);
    }
  }

  &-title {
    font-size: 1.125rem;
    font-weight: 600;
    padding: 7px 0;
  }

  .filter {
    display: flex;
    flex-direction: column;
    min-height: 2rem;
    max-height: 220px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-secondary);
    color: var(--color-white);
    overflow: hidden;

    summary {
      position: relative;
      min-height: 28px;
      width: 100%;
      display: flex;
      align-items: center;
      color: var(--color-current);
      cursor: pointer;
      user-select: none;
      &::after {
        position: absolute;
        z-index: 54;
        right: 0;
        content: "▼";
        font-size: 0.9rem;
        color: var(--color-current);
        transition: transform 0.2s;
        margin-left: 0.5rem;
      }
    }
    &[open] {
      max-height: none;
    }

    &[open] summary::after {
      transform: rotate(180deg);
    }

    &-options {
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-top: 8px;
      max-height: 200px;
      overflow-y: auto;
      padding-right: 6px;

      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background: var(--color-accent);
        border-radius: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background: var(--color-green);
        border-radius: 4px;
      }
    }

    &-checkbox {
      min-height: 28px;
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      user-select: none;
    }

    .input--text {
      width: 100%;
      padding: 6px;
      border-radius: 6px;
      border: none;
      background: var(--color-accent);
      color: var(--color-white);
      outline: none;
    }

    .rating-select {
      margin-top: 8px;
      width: 100%;
      padding: 6px;
      border-radius: 6px;
    }
  }
  &--padding {
    margin-right: 306px;
  }

  .filter-options {
    padding-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .filters {
    width: 100%;
    border: none;
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &--collapsed {
      display: block;
      .aside__nav {
        .aside__nav-item {
          padding: 0.5rem 1rem 0.5rem 0.5rem;
          span {
            display: block;
          }
        }
        .logo {
            display: block;
        }
      }
      .aside__auth {
        display: block;
        margin-bottom: 1rem;
        .btn {
          width: 100%;
          padding: 0;
        }
      }
    }
    &--padding {
      margin-left: 0px;
    }
    &--padding2 {
      margin-left: 0px;
    }
  }
}
