@import url(../../index.css);

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--color-bg);
  padding: 1rem;

  &-label {
    font-size: 1rem;
    color: var(--color-current);
    text-align: start;
  }

  &-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: var(--color-accent);
    padding: 24px;
    border-radius: 1rem;
    width: 100%;
    max-width: 500px;

    .input {
      width: calc(100% - 28px);
      margin-bottom: 1rem;
    }

    button {
      width: 100%;
      margin-top: 0.5rem;
    }

    .register-link {
      text-align: center;
      margin-top: 1rem;
      a {
        color: var(--color-green);
        &:hover {
          color: var(--color-dgreen);
        }
      }
    }
  }
}
